In [1]:
import pandas as pd

In [52]:
# Задание 1.
# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг
# Результат классификации запишите в столбец class

df_ratings = pd.read_csv('ml-latest-small/ratings.csv')
df_movies = pd.read_csv('ml-latest-small/movies.csv')

In [58]:
def simplify_rating(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating < 4.5:
        return 'средний рейтинг'
    elif rating <= 5:
        return 'высокий рейтинг'
    else:
        return 'нет рейтинга'

df_gouped_by_id_with_mean_rating = df_ratings.groupby('movieId').mean().reset_index()
df_movieId_and_mean_rating = df_gouped_by_id_with_mean_rating[['movieId', 'rating']]
df_movieId_and_mean_rating.loc['class'] = df_movieId_and_mean_rating['rating'].apply(simplify_rating)

df_res = df_movies.merge(df_movieId_and_mean_rating)
df_res

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615
4,5,Father of the Bride Part II (1995),Comedy,3.267857
...,...,...,...,...
9061,161944,The Last Brickmaker in America (2001),Drama,5.000000
9062,162376,Stranger Things,Drama,4.500000
9063,162542,Rustom (2016),Romance|Thriller,5.000000
9064,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,3.000000
9065,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,5.000000

In [4]:
# Задание 2
# Используем файл keywords.csv.
df = pd.read_csv('ml-latest-small/keywords.csv')
# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую
# принадлежность определенному региону. Т. е. если поисковый запрос содержит название города 
# региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос 
# не содержит названия города, то ставим ‘undefined’.
# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
# Результат классификации запишите в отдельный столбец region.

In [5]:
def geodating(keyword):
    for key, value in geo_data.items():
        tmp = keyword.split()
        for word in tmp:
            if word in value:
                return key
    else:
        return 'undefined'
        
df['region'] = df['keyword'].apply(geodating)

In [6]:
df[df['region'].isin(['Северо-Запад'])]

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2153                                        авито псков   98931  Северо-Запад
2398                                     авито мурманск   89787  Северо-Запад
...                                                 ...     ...           ...
97613                                  би порт мурманск    3723  Северо-Запад
98726                    ледовый дворец санкт петербург    3772  Северо-Запад
99084  122 медсанчасть санкт петербург официальный сайт    3679  Северо-Запад
99204                        bileter ru санкт петербург    3661  Северо-Запад
99808                 полармед мурманск запись на прием    3719  Северо-Запад

[146 rows x 3 columns]

In [34]:
# Задание 3 (бонусное)
# Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. 
# Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов 
# из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). 
# Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

# При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, 
# а пройдемся по следующему алгоритму:

# 1. В переменную years запишите список из всех годов с 1950 по 2010.
# 2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. 
#    Не все названия фильмов содержат год выпуска в одинаковом формате, 
#    поэтому используйте следующий алгоритм:
#    1. для каждой строки пройдите по всем годам списка years
#    2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
#    3. если ни один из номеров года списка years не встретился в названии фильма, 
#       то возвращается 1900 год
# 3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
# 4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ 
#    и отсортируйте результат по убыванию рейтинга

df_ratings = pd.read_csv('ml-latest-small/ratings.csv')
df_movies = pd.read_csv('ml-latest-small/movies.csv')

years = [i for i in range(1950, 2011)]

In [45]:
def production_year(fullnameandyear):
    for year in years:
        if fullnameandyear.find(str(year)) != -1:
            return year
    else:
        return 1900

df_movies['year'] = df_movies['title'].apply(production_year)
df_merged = df_movies.merge(df_ratings)
df_res = df_merged.groupby('year').mean().reset_index()[['year', 'rating']].sort_values(['rating'], ascending=False)
df_res

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]